# Python bytecode
__pycache__/
*.py[cod]
# Пакеты и зависимости
.env
*.egg-info/
dist/
build/
*.whl
# Папки виртуальных окружений
venv/
env/
.venv
.env/
.idea/

# Alembic
alembic_version.py

migrations
alembic.ini